# Note: If you are using Azure App Service, go to your app's Configuration,
# and then set the following values into your app's "Application settings".

CLIENT_ID=61a20555-f6de-4b9d-8ecf-05e82ab043af
CLIENT_SECRET=655debdc-1e6e-45d2-aea1-a960eb7f5866

# The AUTHORITY variable expects a full authority URL.
#
# If you are using an AAD tenent, configure it as
# "https://login.microsoftonline.com/TENANT_GUID"
# or "https://login.microsoftonline.com/subdomain.onmicrosoft.com".
#
# If you are using a CIAM tenant, configure it as "https://subdomain.ciamlogin.com"
#
# Alternatively, leave it undefined if you are building a multi-tenant app in world-wide cloud
AUTHORITY=b0447f0f-0367-4846-9a4c-83452dad89c6
